# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Data
data/images/*
data/labels/*
data/test_dir/*
data/labels.cache
!data/images/.gitkeep
!data/labels/.gitkeep

# Models
models/*
!models/.gitkeep

# Output
output/*
!output/.gitkeep
runs/*

# IDE
.vscode/
.idea/